<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liao.mybatis.dao.OrdersMapper">
    <select id="findOrdersByUser" resultType="ordersCustom">
        SELECT
            ORDERS.*,
            USER.USERNAME,
            USER.ADDRESS
        FROM USER, ORDERS
        WHERE ORDERS.USER_ID = USER.ID
    </select>
</mapper>